body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    background: url('wallpaperflare.com_wallpaper%20(9).jpg') center/cover no-repeat;
}

header {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: 'Bangers', cursive; /* Bangers font for the title */
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.text-container {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Changa', sans-serif; /* Changa font for the main content */
}

/* New styles for the button */
.next-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF; /* Blue color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
